html {
  position: relative;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
  background-image: linear-gradient(181.78deg, rgba(0, 0, 0, 0) 49.38%, rgba(0, 0, 0, 0.42) 98.49%), url("../img/background.jpg");
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

iframe {
  border: none;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 31px;
}

@media (min-height: 900px) {
  .present {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .present__container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 1200px;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 0 39px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .container {
    padding: 0 15px;
  }
}
