.navigation__list {
  display: flex;
  gap: 25px;
}

.navigation__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  outline: none;
}

.navigation__link:focus {
  border-color: #5b5b5b;
}

.navigation__link:hover,
.navigation__link:active {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}

.navigation__link--netflix {
  background-image: url("../../img/netflix.svg");
}

.navigation__link--okko {
  background-image: url("../../img/okko.svg");
}

.navigation__link--kinopoisk {
  background-image: url("../../img/kinopoisk.svg");
}

@media (max-width: 750px) {
  .navigation__list {
    display: none;
  }
}
